@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  background-color: $BG_gray;
  font-family: $bodyFont;
  font-size: 1.4em;
}

nav {
  padding-left: 20%;
  padding-top: 60px;

  ul {
    li {
      left:0px;
      width: 10px;
      padding-bottom: 10px;
      margin-top: 255px;
      cursor: hand;

      .headlines {
        margin-left: 85px;
        height: 75px;
        background-color: $white;
        overflow: hidden;
      }
    }
  }

  h2 {
    font-family: $headFont;
    /*opacity: 0;*/
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
    width: 200px
  }

  h3 {
    font-family: $headFont;
    /*opacity: 0;*/
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    width: 200px
  }
}

#content {
  font-size: 2em;
}

